flows.json
[
    {
        "id": "e9e4fffeac32751c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f072b88960ff2b5e",
        "type": "inject",
        "z": "e9e4fffeac32751c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "ee4e1cc84ffcc3c7"
            ]
        ]
    },
    {
        "id": "ee4e1cc84ffcc3c7",
        "type": "debug",
        "z": "e9e4fffeac32751c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "a17bd92d54d1a313",
        "type": "status",
        "z": "e9e4fffeac32751c",
        "name": "",
        "scope": null,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "ebc6c2c633f7f20f"
            ]
        ]
    },
    {
        "id": "ebc6c2c633f7f20f",
        "type": "switch",
        "z": "e9e4fffeac32751c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ae31e309484b1251",
        "type": "mqtt in",
        "z": "e9e4fffeac32751c",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "1b1977039ce1a7a9"
            ]
        ]
    },
    {
        "id": "1b1977039ce1a7a9",
        "type": "mqtt out",
        "z": "e9e4fffeac32751c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 610,
        "y": 360,
        "wires": []
    }
]