flows.json
[
    {
        "id": "216a3e955e6e9f1e",
        "type": "tab",
        "label": "Interruptores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfe47cb10dd12990",
        "type": "tab",
        "label": "Graficos ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "033f6ae036d77b73",
        "type": "tab",
        "label": "eventos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4680a899e4666e7d",
        "type": "tab",
        "label": "Formularios",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f94d9dd28469bca",
        "type": "tab",
        "label": "Mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84e5453dc2fdf863",
        "type": "tab",
        "label": "comando unix",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49868e9529ec35fd",
        "type": "tab",
        "label": "Alexa",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a65f1e263306255b",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "ac7a2988612b2fd0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#8bc3df",
            "primary": "#b6c3c9",
            "bgPage": "#131e20",
            "groupBg": "#fafafa",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d0df467bc6420be0",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "a65f1e263306255b",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "ac7a2988612b2fd0",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "94ebc76ded6ad8da",
        "type": "ui-group",
        "name": "Group 1",
        "page": "d0df467bc6420be0",
        "width": 3,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "60b6872ea35bde95",
        "type": "ui-group",
        "name": "Group 2",
        "page": "d0df467bc6420be0",
        "width": 2,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1e6367e45d9fc8ae",
        "type": "ui-page",
        "name": "Page 2",
        "ui": "a65f1e263306255b",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "ac7a2988612b2fd0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2146960fc34ca53c",
        "type": "ui-group",
        "name": "Group 3",
        "page": "1e6367e45d9fc8ae",
        "width": 4,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a2ec590fe1f4932b",
        "type": "ui-group",
        "name": "Group 4",
        "page": "1e6367e45d9fc8ae",
        "width": 4,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "712739dc0d5c4b5c",
        "type": "ui-page",
        "name": "Page 3",
        "ui": "a65f1e263306255b",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "ac7a2988612b2fd0",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "a8666e978e162125",
        "type": "ui-group",
        "name": "Group 5",
        "page": "712739dc0d5c4b5c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "70a95e1e942ad207",
        "type": "ui-group",
        "name": "Group 6",
        "page": "712739dc0d5c4b5c",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1f7ff6eff7084c27",
        "type": "ui-page",
        "name": "Page 4",
        "ui": "a65f1e263306255b",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "ac7a2988612b2fd0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4600b90dea0b39b7",
        "type": "ui-group",
        "name": "Group 7",
        "page": "1f7ff6eff7084c27",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bb62a1d78ecabbf4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b2ac5490d830987f",
        "type": "ui-spacer",
        "group": "2146960fc34ca53c",
        "name": "spacer",
        "order": 2,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "b2ac8d2401429b07",
        "type": "ui-spacer",
        "group": "94ebc76ded6ad8da",
        "name": "spacer",
        "order": 9,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "b2ac8bd0f35ba1aa",
        "type": "ui-spacer",
        "group": "60b6872ea35bde95",
        "name": "spacer",
        "order": 9,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "c072b84bbe9f58bd",
        "type": "ui-page",
        "name": "Page 5",
        "ui": "a65f1e263306255b",
        "path": "/page5",
        "icon": "home",
        "layout": "grid",
        "theme": "ac7a2988612b2fd0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bd887308561d1dee",
        "type": "ui-group",
        "name": "Group 8",
        "page": "c072b84bbe9f58bd",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ddfa6ad641de26b2",
        "type": "ui-switch",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "label": "switch",
        "group": "94ebc76ded6ad8da",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "4e1e9ff94eb52da4"
            ]
        ]
    },
    {
        "id": "e2cb3062bcea5e4b",
        "type": "ui-switch",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "label": "switch",
        "group": "94ebc76ded6ad8da",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "d6d70a8df6c92902"
            ]
        ]
    },
    {
        "id": "9d5e2e61c45dc614",
        "type": "ui-switch",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "label": "switch",
        "group": "94ebc76ded6ad8da",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "0c2382b2a0ea658a"
            ]
        ]
    },
    {
        "id": "4e1e9ff94eb52da4",
        "type": "ui-led",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "group": "60b6872ea35bde95",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "d6d70a8df6c92902",
        "type": "ui-led",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "group": "60b6872ea35bde95",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "0c2382b2a0ea658a",
        "type": "ui-led",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "group": "60b6872ea35bde95",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "88a64292b4298f84",
        "type": "ui-led",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "group": "60b6872ea35bde95",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "1163519a0a28b5fd",
        "type": "ui-led",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "group": "60b6872ea35bde95",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "67411304fb59de91",
        "type": "ui-led",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "group": "60b6872ea35bde95",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "9336c8591ffcaadf",
        "type": "ui-led",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "group": "60b6872ea35bde95",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "89dc6e3a506537ff",
        "type": "ui-led",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "group": "60b6872ea35bde95",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "1a1d035febc4460e",
        "type": "ui-switch",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "label": "switch",
        "group": "94ebc76ded6ad8da",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 650,
        "y": 360,
        "wires": [
            [
                "88a64292b4298f84"
            ]
        ]
    },
    {
        "id": "0eee91e9fa4cc9d4",
        "type": "ui-switch",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "label": "switch",
        "group": "94ebc76ded6ad8da",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "1163519a0a28b5fd"
            ]
        ]
    },
    {
        "id": "c9e0d2eaa811d0b5",
        "type": "ui-switch",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "label": "switch",
        "group": "94ebc76ded6ad8da",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "67411304fb59de91"
            ]
        ]
    },
    {
        "id": "7aeca91b9cf0aad0",
        "type": "ui-switch",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "label": "switch",
        "group": "94ebc76ded6ad8da",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "9336c8591ffcaadf"
            ]
        ]
    },
    {
        "id": "141e7d408d8f79df",
        "type": "ui-switch",
        "z": "216a3e955e6e9f1e",
        "name": "",
        "label": "switch",
        "group": "94ebc76ded6ad8da",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "89dc6e3a506537ff"
            ]
        ]
    },
    {
        "id": "87febd98e0da398a",
        "type": "ping",
        "z": "dfe47cb10dd12990",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "google",
        "host": "www.google.com",
        "timer": "2",
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "e217b0703a4cfcd2"
            ]
        ]
    },
    {
        "id": "e217b0703a4cfcd2",
        "type": "ui-chart",
        "z": "dfe47cb10dd12990",
        "group": "2146960fc34ca53c",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 5,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8b6785ee8d27d130",
        "type": "ping",
        "z": "dfe47cb10dd12990",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "router",
        "host": "192.168.1.1",
        "timer": "2",
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "ed38333510422e0d"
            ]
        ]
    },
    {
        "id": "ed38333510422e0d",
        "type": "ui-chart",
        "z": "dfe47cb10dd12990",
        "group": "a2ec590fe1f4932b",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#385366",
            "#292424",
            "#90633c",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 450,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "19b8f9c34de6ba09",
        "type": "ui-table",
        "z": "033f6ae036d77b73",
        "group": "a8666e978e162125",
        "name": "datos",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "9",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "checkbox",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "className": "",
        "x": 430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5eaf9202901c0852",
        "type": "ui-progress",
        "z": "033f6ae036d77b73",
        "group": "4600b90dea0b39b7",
        "name": "nivel",
        "label": "Progress",
        "order": 1,
        "width": 0,
        "height": 0,
        "color": "",
        "className": "",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "9dcfebaec7207181",
        "type": "ui-event",
        "z": "033f6ae036d77b73",
        "ui": "a65f1e263306255b",
        "name": "evento",
        "x": 470,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "eb9f94f736e0c2d0",
        "type": "ui-form",
        "z": "4680a899e4666e7d",
        "name": "datos ",
        "group": "70a95e1e942ad207",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Pruba",
                "key": "1",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "prueba 2",
                "key": "2",
                "type": "email",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "1": "",
            "2": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 410,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2f6f39ce5b95ea37",
        "type": "mqtt in",
        "z": "1f94d9dd28469bca",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bb62a1d78ecabbf4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 230,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8340599757309efb",
        "type": "mqtt out",
        "z": "1f94d9dd28469bca",
        "name": "",
        "topic": "encender",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bb62a1d78ecabbf4",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "9e4f8e3a9ac82740",
        "type": "aedes broker",
        "z": "1f94d9dd28469bca",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "86a92c9d03b51f82",
        "type": "exec",
        "z": "84e5453dc2fdf863",
        "command": "free -h",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "32e775d53c4e492e"
            ],
            [],
            []
        ]
    },
    {
        "id": "32e775d53c4e492e",
        "type": "debug",
        "z": "84e5453dc2fdf863",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "560dbcc4f5728b9c",
        "type": "inject",
        "z": "84e5453dc2fdf863",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "86a92c9d03b51f82"
            ]
        ]
    },
    {
        "id": "53426ccc33657e1c",
        "type": "DuloNodeHub",
        "z": "49868e9529ec35fd",
        "name": "",
        "installation": "standalone",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "1b10f19ccbf665d4"
            ]
        ]
    },
    {
        "id": "1b10f19ccbf665d4",
        "type": "DuloNodeDevice",
        "z": "49868e9529ec35fd",
        "name": "x",
        "deviceType": "light",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "6e5a446287c0cb9a",
                "e9e99b39c684099d"
            ]
        ]
    },
    {
        "id": "9fb415379da76c35",
        "type": "DuloNodeHub",
        "z": "49868e9529ec35fd",
        "name": "",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "42afca47339b6509"
            ]
        ]
    },
    {
        "id": "42afca47339b6509",
        "type": "DuloNodeDevice",
        "z": "49868e9529ec35fd",
        "name": "Demo Device",
        "deviceType": "fan",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "d30208141dbf5c71",
                "f0fad7a13454cf83"
            ]
        ]
    },
    {
        "id": "d30208141dbf5c71",
        "type": "debug",
        "z": "49868e9529ec35fd",
        "name": "Device Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "78405b0b42d8bf9a",
        "type": "inject",
        "z": "49868e9529ec35fd",
        "name": "Hub Input",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 300,
        "y": 800,
        "wires": [
            [
                "9fb415379da76c35"
            ]
        ]
    },
    {
        "id": "f0fad7a13454cf83",
        "type": "ui-led",
        "z": "49868e9529ec35fd",
        "name": "",
        "group": "bd887308561d1dee",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 910,
        "y": 720,
        "wires": []
    },
    {
        "id": "6e5a446287c0cb9a",
        "type": "debug",
        "z": "49868e9529ec35fd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "e9e99b39c684099d",
        "type": "ui-led",
        "z": "49868e9529ec35fd",
        "name": "",
        "group": "bd887308561d1dee",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "states": [
            {
                "value": "false",
                "valueType": "bool",
                "color": "#ff0000"
            },
            {
                "value": "true",
                "valueType": "bool",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showBorder": true,
        "showGlow": true,
        "x": 750,
        "y": 620,
        "wires": []
    },
    {
        "id": "fec52bb0093ddfb7",
        "type": "inject",
        "z": "49868e9529ec35fd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "53426ccc33657e1c"
            ]
        ]
    },
    {
        "id": "79cca395d543f560",
        "type": "amazon-echo-device",
        "z": "49868e9529ec35fd",
        "name": "x1",
        "topic": "encender",
        "x": 590,
        "y": 920,
        "wires": [
            [
                "632b7498ec80ec71"
            ]
        ]
    },
    {
        "id": "894fe516b026c30a",
        "type": "amazon-echo-hub",
        "z": "49868e9529ec35fd",
        "port": "8080",
        "processinput": "3",
        "discovery": true,
        "x": 390,
        "y": 920,
        "wires": [
            [
                "79cca395d543f560"
            ]
        ]
    },
    {
        "id": "632b7498ec80ec71",
        "type": "debug",
        "z": "49868e9529ec35fd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 880,
        "wires": []
    },
    {
        "id": "cc6b2a532ca955f8",
        "type": "inject",
        "z": "49868e9529ec35fd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "894fe516b026c30a"
            ]
        ]
    },
    {
        "id": "0dd4d67a7cbef3fb",
        "type": "comment",
        "z": "49868e9529ec35fd",
        "name": "comentarios alexa",
        "info": "comentarios alexa, probar el puerto en otra ubicacion",
        "x": 530,
        "y": 860,
        "wires": []
    }
]